@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Play:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-Montserrat;
  }
  body {
    background: #f1f1f1;
  }
  h1 {
    @apply text-xl font-medium capitalize;
  }
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
}

.active {
  @apply bg-blue-100 text-blue-600;
}

/* efeito do botão de pesquisa */
.botao {
  padding: 15px 30px;
  background-color: rgba(180, 176, 176, 0.767);
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.5rem;
   z-index: 0; /*colocar -1 */
  position: relative;
  -webkit-box-shadow: 0 5px 15px rgba(33, 33, 33, .2);
  box-shadow: 0 5px 15px rgba(33, 33, 33, .2);
  overflow: hidden;
  cursor: pointer;
}

.botao > span {
  z-index: 2;
}

.botao::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #212121;
  z-index: -1;
  overflow: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}

.botao:hover {
  color: #e8e8e8;
}

.botao:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}


.search {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 10px;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}
  
.search:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
}
